body {
    font-family: Arial, sans-serif;
    background-image: url(/img/Background.pnghttps://luisr-nunes.github.io/mini-restaurante/img/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}

img { 
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

body, h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    margin: 0 auto;
    display: block;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
 
}

a {
    color: #ff003c;
    text-decoration: none;

}
